.DS_Store

HY-CS-main.aux
HY-CS-main.bbl
HY-CS-main.bcf
HY-CS-main.blg
HY-CS-main.fdb_latexmk
HY-CS-main.fls
HY-CS-main.log
HY-CS-main.out
HY-CS-main.pdf
HY-CS-main.run.xml
HY-CS-main.synctex.gz
HY-CS-main.toc
msc_english_contents.aux
Ch.00_Abstract.aux
Ch.10_Introduction.aux
Ch.20_Methods.aux
Ch.30_Results.aux
Ch.40_Discussion.aux
Ch.50_Conclusions.aux
Ch.90_Appendix_1.aux
instructions/instructions_english.aux
instructions/instructions_finnish.aux
